.titleApp{
    font-weight: bolder;
    font-size:100px;
    margin: 3rem auto;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, #007cff, #ff3052, #ffcb00);
    color:#ff3052;
    border-image-slice: 1;
    padding: 5rem ;
    display: block;
    text-align: center;
    cursor: default;
    animation: spin infinite 3s;
}
@media screen and (max-width: 640px) {
    .titleApp{
        padding:0;
    }
}
@media screen and (max-width: 295px) {
    .titleApp{
        border:0;
    }
}
@keyframes spin {
    from{ filter: hue-rotate(0deg)}
    to{filter: hue-rotate(360deg)}
}

