.Banner-title{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    box-shadow: inset 0 0 7rem 3rem black;
}
@media screen and (max-width: 1024px) {
    .Banner-title{
        box-shadow: inset 0 0 5rem 3rem black;
    }
}
@media screen and (max-width: 768px) {
    .Banner-title {
        box-shadow: inset 0 0 5rem 2rem black;
    }
}
@media screen and (max-width: 640px) {
    .Banner-title {
        box-shadow:none;
    }
}
.Banner-container{
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    aspect-ratio: 3.077;
}

